<br />

<div class="booyah-box col-12 col-lg-10 offset-lg-1">
  <%= link_to 'Back to course page', course_path(current_course) %>
  <br>
  <h1><%= current_course.title %></h1>
  <hr>
  <h3>Course Image </h3>
  <br>
  <%= image_tag current_course.image, width: '300px' %>
  <hr>
  <h3>Cost </h3>
  <br>
  <%= number_to_currency current_course.cost %>
  <hr>
  <ul>
    <% current_course.sections.each do |section| %>
      <li>
        <%= section.title %> 
        <ul>
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li><b><%= lesson.title %></b>
            - 
            <%= lesson.subtitle %>
            </li>
          <% end %>
          <%= link_to 'New Lesson', new_instructor_section_lesson_path(section) %>
        </ul>
          
      </li>
    <% end %>
    <%= link_to 'New Section', new_instructor_course_section_path(current_course) %>
  </ul>
</div>