<script>
  $(function() {
    $('.new-lesson-button').click(function( event ) {
      var lessonUrl = $( event.target ).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });

    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        })
      }
    });

    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        })
      }
    });
    $('.header a').click(function(){
      $(this).find('i').toggleClass('fa-angle-right fa-angle-down')
    });

  });
</script>

<br />
<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center"><%= current_course.title %></h1>
    </div>
    <div class="col-2 edit-link">
      <% if current_user && current_user == current_course.user %>
        <%= link_to 'Preview', course_path(current_course) %>
      <% end %>
    </div>
  </div>
  <div class="col-8 offset-2">
    <%= image_tag current_course.image, class: 'img-fluid course-image' %>
  </div>

  <br>

  <div class="text-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newSectionModal">
      Add a new section...
    </button>
  </div>

  <div class="col-8 offset-2">
    <ul class="sections">
      <% current_course.sections.rank(:row_order).each do |section| %>

        <li class="section-li">
          <div class="row">
            <div class="col-6 float-left">
              <div class="header">
                <a data-update-url="<%= instructor_section_path(section) %>" class="expand-link"  
                   data-toggle="collapse" data-target="#section-id-<%= section.id %>">
                  <%= section.title %>
                  <i id="expand-icon" class="fa fa-angle-right"></i>  
                </a>
              </div>
            </div>
            <div class="col-6 float-right">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary float-right new-lesson-button" 
                      data-toggle="modal" data-target="#newLessonModal" 
                      data-lesson-url="<%= instructor_section_lessons_path(section) %>">
                New Lesson...
              </button>
            </div>
          </div>
          <ul class="lessons accordion-body out" id="section-id-<%= section.id %>">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <li data-update-url="<%= instructor_lesson_path(lesson) %>">
                <p>
                  <b><%= lesson.title %></b>
                </p>
                <p>
                  <%= lesson.subtitle %>
                </p>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newSectionModal">Add a new section</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a section", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newLessonModalLabel">Add a new lesson</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @lesson, url: '#', html: {id: 'newLessonForm'} do |f| %>
          <%= f.input      :title %>
          <%= f.input      :subtitle %>
          <%= f.file_field :video %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Add the lesson", class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>