<br />

<div class="booyah-box col-12 col-lg-10 offset-lg-1">
  <%= link_to 'Back to courses', courses_path %>
  <div class="col-12 col-lg-6 offset-lg-3 text-center article">
    <br>
    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-4">
        <h1><%= @course.title %></h1>
      </div>
      <div class="col-12 col-lg-2 offset-lg-2 course-edit-button">
        <% if current_user && current_user == @course.user %>
          <%= link_to 'Edit', instructor_course_path(@course), class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>

    <% if @course.image.present? %>
      <%= image_tag @course.image, class: 'center-block' %>
    <% end %>

    <br><br> 

    <div class="course-description">
      <%= @course.description %>
    </div>

    <br> 

  <% if current_user %>
    <% if current_user.enrolled_in?(@course) %>
      <h3 class="badge badge-info">You Are Enrolled!</h3>
    <% else %>
      <% if @course.free? %>
        <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
      <% else %>
        <span class="badge badge-default">
          <%= number_to_currency @course.cost %>
        </span>
        <%= form_tag course_enrollments_path(@course) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-email="<%= current_user.email %>"
                  data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                  data-amount="<%= (@course.cost * 100).to_i %>"
                  data-locale="auto"></script>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <h3 class="badge badge-info">Sign in to Enroll!</h3>    
    <% end %>
  <% end %>

    <hr> 

    <ul class="sections">  
      <% @course.sections.rank(:row_order).each do |section| %>
        <li>
          <div class="section">
            <h4><%= section.title %></h4>
            <br>
            <div class="row">
              <% section.lessons.rank(:row_order).each do |lesson| %>

                <div class="col-12 col-lg-4">
                  <div class="lesson">
                    <%= link_to lesson_path(lesson) do %>
                      <div class="lesson-title">
                        <b><%= lesson.title %></b>
                      </div>
                      <hr>
                      <p class="lesson-subtitle">
                        <%= truncate(lesson.subtitle, length: 80) %>
                      </p>
                    <% end %>
                  </div>
                </div>

              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>