<br />

<div class="booyah-box col-12 col-sm-10 offset-sm-1">
  <div class="col-12 col-sm-6 offset-sm-3 text-center article">
    <br>
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-4">
        <h1><%= @course.title %></h1>
      </div>
      <div class="col-12 col-sm-2 offset-sm-2 course-edit-button">
        <% if current_user && current_user == @course.user %>
          <%= link_to 'Edit', instructor_course_path(@course), class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>

    <% if @course.image.present? %>
      <%= image_tag @course.image, class: 'center-block' %>
    <% end %>

   <br><br> 

  <!--   <% if current_user && current_user == @course.user %>
      <br />
      <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
    <% end %>
   -->

    <div class="course-description">
      <%= @course.description %>
    </div>

    <br> 

    <b>Cost: <%= number_to_currency @course.cost %></b>

    <hr> 

    <ul class="sections">  
      <% @course.sections.each do |section| %>
        <li>
          <div class="section">
            <h4><%= section.title %></h4>
            <br>
            <div class="row">
              <% section.lessons.limit(3).each do |lesson| %>

                <div class="col-12 col-sm-4 lesson">
                  <%= link_to lesson_path(lesson) do %>
                    <div class="lesson-title">
                      <b><%= lesson.title %></b>
                    </div>
                    <p class="lesson-subtitle">
                      <%= lesson.subtitle %>
                    </p>
                  <% end %>
                </div>

              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>